<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="qaa_question_listing_data_source" xsi:type="string">AHT\QA\Model\ResourceModel\Question\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="AHT\QA\Model\ResourceModel\Question\Grid\Collection" >
        <arguments>
            <argument name="mainTable" xsi:type="string">aht_question</argument>
            <argument name="resourceModel" xsi:type="string">AHT\QA\Model\ResourceModel\Question</argument>
        </arguments>
    </virtualType>
    
    <preference for="AHT\QA\Api\QuestionRepositoryInterface" type="AHT\QA\Model\QuestionRepository" />

    <preference for="AHT\QA\Api\Data\QuestionInterface" type="AHT\QA\Model\Question" />
    <type name="Magento\Catalog\Model\Product">
      <plugin name="product_plugin" type="AHT\QA\Plugin\ProductPlugin" sortOrder="1" disabled="false" />
    </type>
    <type name="Magento\Customer\Api\AccountManagementInterface">
      <plugin name="customer_plugin" type="AHT\QA\Plugin\CustomerPlugin" sortOrder="1" disabled="false" />
    </type>
</config>